<form action="index.php" method="post">
<table align="center" width="90%" class="outer" cellpadding="5" cellspacing="5">
<tr>
<td class="even"><h1><{$genrecat}></h1></td>
</tr>
<tr>
<td class="odd">
<input type="text" name="genrenew" value="<{$genrecat}>" label="<{$genrecat}>" size="30" maxlength="30">&nbsp;
<input type="hidden" name="genrecat" value="<{$genrecat}>">
<input type="hidden" name="op" value="editgenresave">
<input type="submit" value="<{$smarty.const._AM_XPLAYER_SAVE}>" label="<{$smarty.const._AM_XPLAYER_SAVE}>">
</td>
</tr>
</table>
</form>