<link href="<{$xoops_url}>/modules/xplayer/skins/default.css" rel="stylesheet" type="text/css">
<table width="400" height="375" border="0" cellpadding="0" cellspacing="10" class="tablebg">
<tr>
<td colspan="3" class="artisttitle"><{$artist}> - <{$title}></td>
</tr>
<tr>
<td width="10" class="mp3infoscat"><{$smarty.const._MD_XPLAYER_ALBUM}></td>
<td colspan="2" class="mp3infostext"><{$album}></td>
</tr>
<tr>
<td width="10" class="mp3infoscat"><{$smarty.const._MD_XPLAYER_YEAR}></td>
<td colspan="2" class="mp3infostext"><{$year}></td>
</tr>
<tr>
<td width="10" class="mp3infoscat"><{$smarty.const._MD_XPLAYER_COMMENT}></td>
<td colspan="2" class="mp3infostext"><{$comment}></td>
</tr>
<tr>
<td width="10" class="mp3infoscat"><{$smarty.const._MD_XPLAYER_TRACK}></td>
<td colspan="2" class="mp3infostext"><{$track}></td>
</tr>
<tr>
<td width="10" class="mp3infoscat"><{$smarty.const._MD_XPLAYER_GENRE}></td>
<td colspan="2" class="mp3infostext"><{$genre}></td>
</tr>
<tr>
<td width="10" class="mp3infoscat"><{$smarty.const._MD_XPLAYER_LENGTH}></td>
<td colspan="2" class="mp3infostext"><{$length}> <{$smarty.const._MD_XPLAYER_SECONDS}></td>
</tr>
<tr>
<td width="10" class="mp3infoscat"><{$smarty.const._MD_XPLAYER_BITRATE}></td>
<td colspan="2" class="mp3infostext"><{$bitrate}> <{$smarty.const._MD_XPLAYER_KBITS}></td>
</tr>
<tr>
<td width="10" class="mp3infoscat"><{$smarty.const._MD_XPLAYER_FREQUENCY}></td>
<td colspan="2" class="mp3infostext"><{$frequence}> <{$smarty.const._MD_XPLAYER_HERTZ}></td>
</tr>
<tr>
<td colspan="3"><{$player}></td>
</tr>
<tr>
<td colspan="2"><a href="getfile.php?id=$fileid"><{$smarty.const._MD_XPLAYER_DOWNLOAD}></a></td>
<td align="right"><{$availableplayer}></td>
</tr>
</table>